
#main-header {
    font-family: 'Roboto', sans-serif;
    text-align: center;
    font-size: 700pxs;
}

#rabbit {
    font-family: 'Roboto', sans-serif;
    width: 350px;
    padding: 5px 5px 50px 5px;
    margin: 50px auto;
    border: 5px black;
    background-color: #CC99CC;
    text-align: center;
}

img {
    max-width: 70%;  
    height: auto;  
}

